*{
    margin: 0;
    padding: 0;
}
.bigBox{
    background-color: rgba(214, 150, 129, 0.719);
    color: rgb(217, 217, 228); 
    min-height: 150vh;
    position: relative;
}
.login {
    background-color: rgba(192, 143, 143, 0.178);
     margin: auto;
     border-radius: 13px;
     width: 35%;
     padding: 12px;
     box-shadow: 3px 2px 3px rgba(223, 223, 202, 0.651);
}
.login {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(216, 168, 152, 0.719) ;
}
li {
    float: left ;
}
li a {
    display: block;
    color: white ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}   
li a:hover {
    background-color: blanchedalmond;
}
.reg label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}
.login h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 1rem;

}
.login input {
    width: 95%; 
    max-width: 100%;
    margin-top: 8px;
    padding: 8px;
    background-color: rgba(192, 143, 143, 0.699);
    color: white;
    border: 1px solid rgba(245, 237, 227, 0.76);
    border-radius: 50px;
    margin-bottom:20px ;
 }
::placeholder {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}
.submit input {
    background-color: rgba(180, 123, 123, 0.753);
    color: white;
    text-align: center;
    width: 50%;
    border-radius: 50px;
    border: 1px solid rgba(245, 237, 227, 0.76);
    margin-left: 25%;

}